.properties-section {
    margin-top: 4vh !important;
}
.properties {
    width: 100%;
}
.selector {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    width: 13.33rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;

    h5 {
        margin-bottom: 1rem;
    }

    .switch {
        margin-bottom: 1rem;
    }
}

.card {
    margin: 0 !important;
}
.property-item {
    margin-left: 2rem !important;
    padding: 2rem;
    margin-bottom: 5vh !important;
    animation: fade 1s ease;
    .title {
        display: flex;
        justify-content: space-between;

        img {
            width: 3.33rem;
        }
    }

    .content {
        display: flex;
        justify-content: center;

        .img {
            img {
                width: 30rem;
                height: 16.66rem;
                object-fit: cover;
            }
        }

        .desc-section {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            .desc-container {
                margin-top: 2vh;
                margin-bottom: 2vh;
                display: flex;
                justify-content: center;
                align-items: center;

                .desc {
                    margin-top: 0 !important;
                    width: 50%;
                }
                .line {
                    width: 2rem;
                    height: 6rem;
                    align-self: flex-start;
                    border-left: 1px solid rgba(0, 0, 0, 0.418);
                }
            }
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loader {
    display: flex;
    width: 100%;
    justify-content: center;
}

.switch {
    input:checked + .lever {
        background: #7ab4f6 !important;
        &::before,
        &::after {
            background: rgb(39, 129, 233) !important;
        }
    }
}

.hidden {
    display: none !important;
}

// Laptop
@media only Screen and (max-width: 1300px) {
    .property-item {
        .img {
            img {
                width: 15rem !important;
                height: 15rem !important;
            }
        }
        .desc-container {
            p {
                margin-bottom: 1.33rem;
            }
        }
    }
}

// Ipad pro
@media only Screen and (max-width: 1050px) {
    .property-item {
        .desc {
            width: 60% !important;
        }
    }
}

// Ipad
@media only Screen and (max-width: 800px) {
    .property-item {
        .title {
            margin-bottom: 1rem;
        }
        .content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .img,
        .img img {
            width: 100% !important;
        }
        .line {
            display: none;
        }
        .desc,
        p {
            width: 100% !important;
        }
    }
}

// Iphone Large
@media only Screen and (max-width: 450px) {
    .properties-section {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .property-item {
        margin-left: 0 !important;
        text-align: start;
    }
    .selector {
        margin-bottom: 3.33vh;
    }
}

// Iphone Small
@media only Screen and (max-width: 350px) {
    .logo {
        width: 6.66rem !important;
        height: 4.44rem !important;
    }
}
